<h1 mat-dialog-title>{{ isEdit ? 'Update' : 'Create' }}</h1>
<div mat-dialog-content>
  <app-input
    [active]="isEdit"
    [value]="petModel.id"
    [(ngModel)]="petModel.id"
    [placeholder]="'Pet ID: '"
    #petId="ngModel"
    required
    ngDefaultControl
  ></app-input>
  <app-input
    [value]="petModel.name"
    [(ngModel)]="petModel.name"
    [placeholder]="'Name: '"
    ngDefaultControl
  ></app-input>
  <app-select
    [(ngModel)]="petModel.status"
    ngDefaultControl
    [title]="'Status: '"
    [options]="optionsForPet"
  ></app-select>
</div>
<div mat-dialog-actions>
  <button
    mat-button (click)="save()"
    [disabled]="petId.invalid"
    cdkFocusInitial>
    <span [matTooltip]="petId.invalid ? 'Enter Pet ID' : ''">
      {{ isEdit ? 'Update' : 'Create' }}
    </span>
  </button>
  <button mat-button (click)="close()" color="warn">Cancel</button>
</div>
<app-spinner *ngIf="!isComplete"></app-spinner>
