<div class="formCenter">
<h1>ORDERS</h1>
<!--ЗАКАЗЫ-->
<app-input [(ngModel)]="orderId" [placeholder]="'Order ID: '" ngDefaultControl></app-input>
<button mat-button (click)="getOrder()">Get</button>
<button mat-button (click)="switchOrder = 1">Create</button>
<button mat-button (click)="switchOrder = 2">Update</button>
<button mat-button (click)="deleteOrder()">Delete</button>
<button mat-button (click)="switchOrder = 3; statusByOrder()">Find Orders</button>

<!--Получение одного заказа-->
<div *ngIf="errorForOrders">{{errorForOrders}}</div>
<div *ngIf="orderForGet">
  <h3>Get Order</h3>
  <p>ID: {{orderForGet.id}}</p>
  <p>PetId: {{orderForGet.petId}}</p>
  <p>Quantity: {{orderForGet.quantity}}</p>
  <p>ShipDate: {{orderForGet.shipDate}}</p>
  <p>Status: {{orderForGet.status}}</p>
  <p>Complete: {{orderForGet.complete}}</p>
</div>

<!--Создание нового заказа-->
<div [ngSwitch]="switchOrder">
  <ng-template ngSwitchCase="1">
    <h3>Create Order</h3>
    <app-input [placeholder]="'Order ID: '" [(ngModel)]="orderModelForCreate.id" ngDefaultControl></app-input>
    <app-input [placeholder]="'Pet ID: '" [(ngModel)]="orderModelForCreate.petId" ngDefaultControl></app-input>
    <app-input [placeholder]="'Quantity: '" [(ngModel)]="orderModelForCreate.quantity" ngDefaultControl></app-input>
    <app-select
      [(ngModel)]="orderModelForCreate.status"
      [title]="'Status: '"
      [option1]="'placed'"
      [option2]="'approved'"
      [option3]="'delivered'"
      ngDefaultControl
    ></app-select>
    <app-select
      [(ngModel)]="orderModelForCreate.complete"
      [title]="'Complete: '"
      [option1]="'True'"
      [option2]="'False'"
      ngDefaultControl
    ></app-select>
    <button mat-button (click)="createOrder()">Save</button>
    <button mat-button (click)="switchOrder = null">Cancel</button>
    <br>
    <p *ngIf="orderForCreate">
      Order with ID {{orderForCreate.id}} create.
    </p>
  </ng-template>

  <!--Изменение одного заказа-->
  <ng-template ngSwitchCase="2">
    <h3>Update Order</h3>
    <app-input [placeholder]="'Order ID: '" [(ngModel)]="orderModelForUpdate.id" ngDefaultControl></app-input>
    <app-input [placeholder]="'Pet ID: '" [(ngModel)]="orderModelForUpdate.petId" ngDefaultControl></app-input>
    <app-input [placeholder]="'Quantity: '" [(ngModel)]="orderModelForUpdate.quantity" ngDefaultControl></app-input>
    <app-select
      [(ngModel)]="orderModelForUpdate.status"
      [title]="'Status: '"
      [option1]="'placed'"
      [option2]="'approved'"
      [option3]="'delivered'"
      ngDefaultControl
    ></app-select>
    <app-select
      [(ngModel)]="orderModelForUpdate.complete"
      [title]="'Complete: '"
      [option1]="'True'"
      [option2]="'False'"
      ngDefaultControl
    ></app-select>
    <button mat-button (click)="updateOrder()">Save</button>
    <button mat-button (click)="switchOrder = null">Cancel</button>
    <br>
    <p *ngIf="orderForUpdate">
      Order with ID: {{orderForUpdate.id}} update.
    </p>
  </ng-template>
  <ng-template ngSwitchCase="3">
    <h3>Find Orders by Status: </h3>
    <button mat-button (click)="switchOrder = null">Clear</button>
    <pre>{{inventories1}}</pre>
  </ng-template>
</div>
</div>
