<nav>
  <a routerLink="">Home</a>
  <a routerLink="/login">LogIn</a>
  <a routerLink="/logout">LogOut</a>
  <a routerLink="/register">Registration</a>
</nav>
<router-outlet></router-outlet>

<h1>PET STORE</h1>

<!--<div>-->
<!--<ul>-->
<!--  <button (click)="getAllPets()">All</button>-->
<!--  <li>-->
<!--    &lt;!&ndash;<b>{{response.name}}</b>&ndash;&gt;-->
<!--  </li>-->
<!--</ul>-->
<!--</div>-->

<!--ПИТОМЦЫ-->
Pet ID: <input type="text" [(ngModel)]="petId">
<button (click)="getPet()">Get</button>
<button (click)="switchPet = 1">Create</button>
<button (click)="switchPet = 2">Update</button>
<button (click)="deletePet()">Delete</button>

<!--Получение одного питомца-->
<div *ngIf="petForGet">
  <h3>Get Pet:</h3>
  <p>ID: {{petForGet.id}}</p>
  <p>Name: {{petForGet?.name}}</p>
  <p *ngFor="let tag of petForGet.tags">Tags: {{tag.name}}</p>
  <p>Status: {{petForGet.status}}</p>
  <img src="{{petForGet.photoUrls}}" alt="">
</div>
<div *ngIf="errorForPets">{{errorForPets}}</div>

<div [ngSwitch]="switchPet">
<!--Создание нового питомца-->
  <ng-template ngSwitchCase="1">
  <h3>Create Pet:</h3>
  ID: <input type="text" [(ngModel)]="petModelForCreate.id">
  Name: <input type="text" [(ngModel)]="petModelForCreate.name">
  Status: <select [(ngModel)]="petModelForCreate.status">
  <option>available</option>
  <option>pending</option>
  <option>sold</option>
</select>
  <button (click)="createPet()">Save</button>
  <button (click)="switchPet = null">Cancel</button>
    <p *ngIf="petForCreate">
      Pet with ID: {{petForCreate.id}} create.
    </p>
  </ng-template>

<!--Изменение одного питомца-->
  <ng-template ngSwitchCase="2">
  <h3>Update Pet:</h3>
  ID: <input type="text" [(ngModel)]="petModelForUpdate.id">
  Name: <input type="text" [(ngModel)]="petModelForUpdate.name">
  Status: <select [(ngModel)]="petModelForUpdate.status">
  <option>available</option>
  <option>pending</option>
  <option>sold</option>
</select>
  <button (click)="updatePet()">Save</button>
  <button (click)="switchPet = null">Cancel</button>
    <p *ngIf="petForUpdate">
      Pet with ID: {{petForUpdate.id}} update.
    </p>
  </ng-template>
</div>

<br>
<br>
<br>
<br>

<!--ЗАКАЗЫ-->
Order ID: <input type="text" [(ngModel)]="orderId">
<button (click)="getOrder()">Get</button>
<button (click)="switchOrder = 1">Create</button>
<button (click)="switchOrder = 2">Update</button>
<button (click)="deleteOrder()">Delete</button>

<!--Получение одного заказа-->
<div *ngIf="errorForOrders">{{errorForOrders}}</div>
<div *ngIf="orderForGet">
  <h3>Get Order</h3>
  <p>ID: {{orderForGet.id}}</p>
  <p>PetId: {{orderForGet.petId}}</p>
  <p>Quantity: {{orderForGet.quantity}}</p>
  <p>ShipDate: {{orderForGet.shipDate}}</p>
  <p>Status: {{orderForGet.status}}</p>
  <p>Complete: {{orderForGet.complete}}</p>
</div>

<!--Создание нового заказа-->
<div [ngSwitch]="switchOrder">
  <ng-template ngSwitchCase="1">
  <h3>Create Order</h3>
  ID: <input type="text" [(ngModel)]="orderModelForCreate.id">
  Pet ID: <input type="text" [(ngModel)]="orderModelForCreate.petId">
  Quantity: <input type="text" [(ngModel)]="orderModelForCreate.quantity">
  Status: <select [(ngModel)]="orderModelForCreate.status">
  <option>placed</option>
  <option>approved</option>
  <option>delivered</option>
</select>
  Complete: <select [(ngModel)]="orderModelForCreate.complete">
  <option>True</option>
  <option>False</option>
</select>
  <button (click)="createOrder()">Save</button>
  <button (click)="switchOrder = null">Cancel</button>
  <br>
<p *ngIf="orderForCreate">
  Order with ID {{orderForCreate.id}} create.
</p>
  </ng-template>

<!--Изменение одного заказа-->
  <ng-template ngSwitchCase="2">
  <h3>Update Order</h3>
  ID: <input type="text" [(ngModel)]="orderModelForUpdate.id">
  Pet ID: <input type="text" [(ngModel)]="orderModelForUpdate.petId">
  Quantity: <input type="text" [(ngModel)]="orderModelForUpdate.quantity">
  Status: <select [(ngModel)]="orderModelForUpdate.status">
  <option>placed</option>
  <option>approved</option>
  <option>delivered</option>
</select>
  Complete: <select [(ngModel)]="orderModelForUpdate.complete">
  <option>True</option>
  <option>False</option>
</select>
  <button (click)="updateOrder()">Save</button>
  <button (click)="switchOrder = null">Cancel</button>
  <br>
<p *ngIf="orderForUpdate">
  Order with ID: {{orderForUpdate.id}} update.
</p>
  </ng-template>
</div>



