<h1>PET STORE</h1>
<!--<div>-->
<!--<ul>-->
<!--  <button (click)="getAllPets()">All</button>-->
<!--  <li>-->
<!--    &lt;!&ndash;<b>{{response.name}}</b>&ndash;&gt;-->
<!--  </li>-->
<!--</ul>-->
<!--</div>-->
<br>
<br>

Pet ID: <input type="text" [(ngModel)]="petIdForGet">
<button (click)="getPet()">Get</button>
<div *ngIf="error">{{error}}</div>
<div *ngIf="petForGet">
  <img src="{{petForGet.photoUrls}}" alt="">
  <p>ID: {{petForGet.id}}</p>
  <p>Имя: {{petForGet?.name}}</p>
  <p *ngFor="let tag of petForGet.tags">Тег: {{tag.name}}</p>
  <p>Статус: {{petForGet.status}}</p>
</div>

<br>
<br>

ID: <input type="text" [(ngModel)]="petIdForCreate">
Name: <input type="text" [(ngModel)]="namePetForCreate">
Status: <select [(ngModel)]="statusPetForCreate">
  <option>available</option>
  <option>pending</option>
  <option>sold</option>
</select>
<button (click)="createPet()">Create</button>

<br>

<div *ngIf="petForCreate">
  Object with ID: {{petForCreate.id}} create.
</div>

<br>

<br>

ID: <input type="text" [(ngModel)]="petIdForUpdate">
Name: <input type="text" [(ngModel)]="namePetForUpdate">
Status: <select [(ngModel)]="statusPetForUpdate">
  <option>available</option>
  <option>pending</option>
  <option>sold</option>
</select>
<button (click)="updatePet()">Update</button>
<br>
<div *ngIf="petForUpdate">
  Object with ID: {{petForUpdate.id}} update.
</div>

<br>

Pet ID(DELETE): <input type="text" [(ngModel)]="petIdForDelete">
<button (click)="deletePet()">Delete</button>





