<div>
  <h3>Registration</h3>
  <!--Форма для ID-->
  <app-input
    [(ngModel)]="modelForReg.id"
    [placeholder]="'User ID: '"
    #id="ngModel"
    required
    ngDefaultControl
  ></app-input>
  <mat-error *ngIf="id.invalid">
    Enter ID (use number 0-9)
  </mat-error>
  <!--Форма для UserName-->
  <app-input
    [(ngModel)]="modelForReg.username"
    [placeholder]="'Username: '"
    #username="ngModel"
    required
    ngDefaultControl></app-input>
  <mat-error *ngIf="username.invalid">
    Enter Username
  </mat-error>
  <!--Форма для FirstName-->
  <app-input
    [(ngModel)]="modelForReg.firstName"
    [placeholder]="'First Name: '"
    #firstName="ngModel"
    required
    ngDefaultControl
  ></app-input>
  <mat-error *ngIf="firstName.invalid">
    Enter First Name
  </mat-error>
  <!--Форма для LastName-->
  <app-input
    [(ngModel)]="modelForReg.lastName"
    [placeholder]="'Last Name: '"
    #lastName="ngModel"
    required
    ngDefaultControl
  ></app-input>
  <mat-error *ngIf="lastName.invalid">
    Enter Last Name
  </mat-error>
  <!--Форма для E-mail-->
  <app-input
    [(ngModel)]="modelForReg.email"
    [placeholder]="'E-mail: '"
    #email="ngModel"
    required email=""
    ngDefaultControl
  ></app-input>
  <mat-error *ngIf="email.invalid">
    Enter E-mail
  </mat-error>
  <!--Форма для Password-->
  <app-input
    [(ngModel)]="modelForReg.password"
    [placeholder]="'Password: '"
    #password="ngModel"
    required
    [type]="'password'"
    ngDefaultControl
  ></app-input>
  <mat-error *ngIf="password.invalid">
    Enter Password
  </mat-error>
  <!--Форма для Phone-->
  <app-input
    [(ngModel)]="modelForReg.phone"
    [placeholder]="'Phone: '"
    #phone="ngModel"
    required pattern="^((8|\+7)[\- ]?)?(\(?\d{3}\)?[\- ]?)?[\d\- ]{7,10}$"
    ngDefaultControl
  ></app-input>
  <mat-error *ngIf="phone.invalid">
    Enter Phone
  </mat-error>
  <!--Форма для UserStatus-->
  <app-input
    [(ngModel)]="modelForReg.userStatus"
    [placeholder]="'User status: '"
    ngDefaultControl
  ></app-input>
  <!--Кнопка для регистрации-->
  <button mat-button [disabled]="username.invalid || password.invalid" (click)="registration()">Registration</button>
</div>



