<div>
  <h3>Registration</h3>
ID: <input class="input" type="text" [(ngModel)]="modelForReg.id">
Username: <input type="text" [(ngModel)]="modelForReg.username">
FirstName: <input type="text" [(ngModel)]="modelForReg.firstName">
LastName: <input type="text" [(ngModel)]="modelForReg.lastName">
E-mail: <input type="text" [(ngModel)]="modelForReg.email">
Password: <input type="text" [(ngModel)]="modelForReg.password">
Phone: <input type="text" [(ngModel)]="modelForReg.phone">
UserStatus: <input type="text" [(ngModel)]="modelForReg.userStatus">
<button (click)="registration()">Regestration</button>
</div>
